*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(5,7,30,0.7),rgba(4,7,30,0.5)),url(images/university.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    font-size: 14px;
    color: white;
}
.hero-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-button:hover{
    border: 1px solid red;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media(max-width: 500px){
    .text-box h1{
        font-size: 21px;
    }
    
    .text-box {
        width: 100%;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: red;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 2s;
    }
    nav .fa{
        display: block;
        color: red;
        margin: 11px;
        font-size: 20px;
    }
    .nav-links{
        padding: 32px;
    }
}
.sponsor{
    margin: 100px auto;
    width: 81%;
    background-image: linear-gradient(rgba(0,0,1,0.3),rgba(0,0,1,0.3)),url(images/sponsorship.png);
    background-position: center;
    background-size: cover;
    border-radius: 11px;
    text-align: center;
    padding: 100px 0;
}
.sponsor h1{
    color: white;
    margin-bottom: 41px;
    padding: 0;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
/*--About us--*/
.sub header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/graduation.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}
.lo-image{
    width: 1200px;
    height: 250px;
}
/*--Courses to choose--*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-column{
    flex-basis: 30%;
    background: lightblue;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
/*Contacts*/
.li-image{
    width: 1200px;
    height: 450px;
}
.contact-numbers{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 30px 0;
}
.Good-feedbacks{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.feedbacks-column{
    flex-basis: 43%;
    border-radius: 11px;
    margin-bottom: 5%;
    text-align: left;
    background: red;
    padding: 26px;
    display: flex;
}
.feedbacks-column img{
    height: 41px;
    margin-left: 6px;
    margin-right: 32px;
    border-radius: 50%;
}